$color-primary: #ffc38b;
$color-primary-light: #fff3cd;
$color-primary-medium: #ff926b;
$color-primary-dark: #b7472a;
$green: #698474;
$dark-green: #4a5e52;
$pink: #ffaaa5;
$blue: lightblue;
$dark-grey: #777;
$brown-grey: rgb(161, 160, 160);
$light-grey: #f7f7f7;
$dim-grey:#333;

$black: #000;
$white: #fff;

//grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-sm: 2rem;
$gutter-horizontal: 4rem;

//font
$default-font-size: 1.6rem;
$default-border-radius: 3px;